
- %w/CarWash BirthDate DayOff/.each do |l|
  - list = dashbard_day_getlist(l,date)
  .col-md-6
    %a{data:{toggle: "collapse"}, href:"#collapse#{l}"}
      .page-header
        %h2=list["title"]
    .panel-collapse.collapse{id: "collapse#{l}"}
      - list["list"].each do |o|
        .col-xs-8.col-md-6
          .thumbnail.btn-default
            .media
              .pull-left
                - media = day_media_content(l,nil,o)
                = image_tag(media, :size => "75x75")
              .media-body
                - mbody = day_mediabody_content(l,nil,o)
                = mbody