%h4
  = day.day.to_s
- %w/CarWash BirthDate DayOff/.each do |c|
  = render "contentday", content: c, day: day unless wknd
  - if wknd==true
    %span.col-md-1.col-xs-1.glyphicon.glyphicon-stop{style: "visibility:hidden;"}