.page-header
  Employees Unassigned
  %a.lnk-employee-new.btn.btn-xs{data:{toggle: "modal",target: "#employee_new"}} New employee
.employees-unassigned
  - employees.each do |e|
    .employee.btn.btn-warning{id: e.id}
      = "#{e.name} #{e.first_lastname}"
.modal.fade#employee_new{tabindex: "-1", role: "dialog", aria: {labelledby: "employee_new", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-body
        .employee_new
