.col-md-4.panel
  .page-header
    %a{href: url_for(projects_path)}Projects
    %small= "[#{@projects.count}]"
    %a.btn.btn-xs{href: url_for(new_project_path)} New Project
  - @projects.each do |p|
    %p.projects
      %a.thubnail.btn.btn-primary.projects{id: "#{p.id}"}= p.name
      %a.btn.btn-xs{href: url_for(edit_project_path(p))} Edit
      %a.btn.btn-xs Remove
.col-md-8.panel
  .page-header
    Project Name:
    %b.btn.btn-primary#project_head
  #project_content