.col-md-6
	.modal-content
		.modal-header
			%button.close{type: "button",data:{dismiss:"modal"},aria:{hidden: "true"}}="X"
			.modal-tittle#Generator
				Schedule CarWash Generate
		.modal-body
			.form-group
				%label.control-label="Start Date:"
				%br/
				= date_select :start_date,class: "form-control"
			.form-group
				%label.control-label= "Employees Per Day:"
				= number_field :per_day,nil, options: {min: 1, max: 100, in: 1},class: "form-control"
		.modal-footer
			%center
				= link_to "Generate",{action: "generateSchedule"},class: "btn btn-warning"
