.page-header
  %h1 Listing Days Offs
  %h3
    = @day.strftime("%Y/ %B/ %d")
- @day_offs.each do |day_off|
  .col-xs-8.col-md-3
    .thumbnail.btn-default
      .media
        .pull-left
          = image_tag day_off.calendar_type.image, :size => "75x75"
        .media-body
          %center
            %h4= link_to day_off.name, day_off, :class => "label label-info"
            %p= day_off.date.strftime("%B-%d")