- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.alert-warning
      = content_tag :div, msg, :class => "h3 flash_#{name}"

- if @errors.present? && @errors.any?
  #error_explanation.alert.alert-danger
    %h2
      = pluralize(@errors.count, "error")
      prohibited this object from being saved:
    %ul
      - @errors.full_messages.each do |msg|
        %li= msg
