- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

- if @errors.present? && @errors.any?
  #error_explanation.alert.alert-danger
    %h2
      = pluralize(@errors.count, "error")
      prohibited this day_off from being saved:
    %ul
      - @errors.full_messages.each do |msg|
        %li= msg
