%ul.nav.nav-pills
  %li.active
    %a{href: root_path}
      %span.glyphicon.glyphicon-home
      Home
  %li
    %a{href: employees_path}
      %span.glyphicon.glyphicon-user
      Employees
  %li
    %a{href: day_offs_path}
      %span.glyphicon.glyphicon-calendar
      Days Off
  %li
    %a{href: calendar_types_path}
      %span.glyphicon.glyphicon-flag
      Calendar Types 
  %li
    %a{href: schedule_carwashes_path}
      %span.glyphicon.glyphicon-road
      Schedule Car Wash
