%ul.nav.nav-pills
  %li
    %a.h4{href: root_path}
      %span.glyphicon.glyphicon-home
      Home
  %li
    %a.h4{href: employees_path}
      %span.glyphicon.glyphicon-user
      Employees
  %li
    %a.h4.dropdown-toggle{data:{toggle: "dropdown"}}
      |
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only
    %ul.dropdown-menu{role: "menu"}
      %li
        %a{href: teams_path}
          %span.glyphicon.glyphicon-asterisk
          Teams
      %li
        %a{href: projects_path}
          %span.glyphicon.glyphicon-certificate
          Projects
  %li
    %a.h4{href: day_offs_path}
      %span.glyphicon.glyphicon-calendar
      Days Off
  %li
    %a.h4{href: calendar_types_path}
      %span.glyphicon.glyphicon-flag
      Calendar Types 
  %li
    %a.h4{href: schedule_carwashes_path}
      %span.glyphicon.glyphicon-road
      Schedule Car Wash
